html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body{
    line-height:1.6;
    background-color: #f8f8f8;
    font-family:-apple-system-font, "Helvetica Neue", sans-serif,Helvetica;
}
body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}
*{
    margin:0;
    padding:0;
}
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0)}
a,button,input,textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}
li{margin:0; padding:0;list-style-type:none;}
a img{
    border:0;
}
a{
    /* text-decoration:none; */
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.h-input{
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    height: 2em;
    line-height: 2;
}
.c-input{
    width: 50%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    height: 35px;
    float: left;
    line-height: 35px;
}
.code a{
    text-decoration: none;
    border: 1px solid #eee;
    padding: 5px 15px;
    color: #888;
    float: right;
    font-size: 16px;
}
.photo,.code{
    padding: 10px 0;
    overflow: hidden;
    border-bottom: 1px solid #dedede;
} 
header{
    padding: 10px 15px;
    font-size: 14px;
    text-align: right;
    color: #888;
    background: #fff;
    border-bottom: 1px solid #b70b0b;
}
header span{
    color: #303030;
}
.imgbox img{
    width: 38px;height: 38px;
}
.h-hd{
    padding: 10px 15px;
    padding-top: 27px;
    font-size: 14px;
    color: #888
}
.h-hd a{
    float: right;
    color: #1890ff;
}
.h-title{
    display: inline-block
}
.tips{
    font-size: 12px;
    color: #ccc;
    padding: 10px 15px;
}
p{
    padding-bottom: .34em;
}
.content{
    background: #fff;
    margin-bottom: 60px;
}
.text-right,.text-left{
    display: inline-block;
    height: 35px;
    line-height: 35px;
}
.text-right{
    position: relative;
    float: right;
    color: #888;
    padding-right: 16px;

}
.text-right span{
    font-size: 12px;
    color: #ccc;
    margin-right: 4px;
}
.text-left{
    float: left;
    color: #d40e08;
}
.text-left span{
    margin-right: 4px;
    font-size: 22px;
}
.text-right::after{
    content: " ";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-width: 1px 1px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
}
.content li{
    overflow: hidden;
    padding: 12px 15px;
    border-bottom: 1px solid #e5e5e5;
}
.mask{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
.dialog{
    position: fixed;
    z-index: 5000;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    display: none;
}
.dialog button{
    color: #fff;
    background: #f5222d;
    width: 95%;
    margin: 10px auto;
    padding: 15px;
    line-height: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: 14px;

}
button{
    overflow: visible;
    text-transform: none;
    display: block;
    border: 0;
}
.close{
    right: 10px;
    top: 0;
    font-size: 18px;
    color: #999;
    cursor: pointer;
    /* font-style: normal; */
    position: absolute;
    display: inline-block;
}
.dialog-title{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding: 1.3em 1.6em .5em;
}
.content-box{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5px;
}
.button-box{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 95%;  
    margin: 0 auto;
    min-height: 5px;
}
.mask--visible,.dialog--visible{
    display: block;
}
.content-box p{
    text-align: center;
    font-size: 14px;
}